.hero {
  width: 100vw;
  height: 70vh;
  position: relative;

  background-image: url("https://images.pexels.com/photos/1916816/pexels-photo-1916816.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;

  display: flex;
  justify-content: center;
 align-items: center;
}


.heroInner {
  width: 100%;
  position: relative;
}

.heroInner {
  text-align: center;
  color: #ffffff;
}

.searchContainer {
  position: absolute;
  bottom: -35px;            
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  text-align: center;
}


.searchLabel {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}


.searchOverlay {
  display: flex;
  align-items: center;
  gap: 14px;

  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(12px);

  padding: 14px 18px;
  border-radius: 40px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.35);
}


.searchOverlay select,
.searchOverlay input {
  height: 44px;
  padding: 0 16px;
  border-radius: 22px;
  border: none;
  outline: none;

  background: rgba(0, 0, 0, 0.35);
  color: white;
  font-size: 14px;
}

.searchOverlay select option {
  color: black;
}


.searchOverlay button {
  height: 44px;
  padding: 0 26px;
  border-radius: 22px;
  border: none;
  cursor: pointer;

  background: #00aaff;
  color: white;
  font-weight: 600;
}
