.wrapper {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 220px;
  min-width: 220px;
  background-color: #0f172a;
  color: white;
  flex-shrink: 0;             
}


.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;

  margin-left: 250px;   
  min-width: 0;        
}

.content {
  flex: 1;
  padding: 24px;
  background-color: #f3f4f6;
  min-width: 0;             
}
