.sidebar {
  width: 250px;
  min-width: 250px;
  height: 100vh;
  background: #b1abde;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.04);

  position: fixed;  
  top: 0;
  left: 0;

  overflow-y: auto; 
  z-index: 100;     
}

.brand {
  font-size: 28px;
  font-weight: 800;
  display: flex;         
  align-items: center;
  justify-content: center; 
  gap: 10px;              
  margin-bottom: 50px;
}

.brandIcon {
  font-size: 30px;
  color: #410639;  
}


.profile {
  text-align: center;
  margin-top: 10px; 
  margin-bottom: 30px;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #6366f1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 600;
  margin: 0 auto 10px;
}


.userName {
  font-weight: 600;
  font-size: 14px;
}

.userEmail {
  font-size: 14px;
  color: #6b7280;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.link {
  display: flex;          
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #131313;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.icon {
  font-size: 16px;
}

.link:hover {
  background: #aa8fca;
}

.link.active {
  background: #5c5ee6;
  color: white;
}

.active {
  background: #6366f1;
  color: white;
}

.active .icon {
  color: white;
} 

 



